--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
websockets
faster-whisper
TTS
langchain
transformers
torch
accelerate
python-multipart
pydantic
aiofiles
httpx
aiortc
langchain-community
langchain-core
langchain-huggingface
huggingface-hub
sentence-transformers
pypdf
python-docx
docx2txt

langchain-groq

# for speech to text
torchaudio
soundfile 
numpy
phonemizer